# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
#Library/
Library/metadata/
Library/ScriptAssemblies/
#Library/assetDatabase3
#Library/guidmapper
Library/ShaderCache/
Library/CurrentLayout.dwlt
Library/FailedAssetImports.txt
*.unitypackage
*.meta
*.apk
*.txt

!Assets/StreamingAssets/MiGameCenterSDKService.apk*
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
